@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&family=Open+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title: #1f2937;
  --text-light-color: #6b7280;
  --primmary-color: #a32035;
  --other: transparent;
}

body {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #333;
}
